<section id="info-moonboxes" class="info-moonboxes">
  <div class="all-boxes">
    <div class="box-container" *ngFor="let box of boxes">
      <div class="box-card">
        <img class="rounded-image" src={{box.img}} alt="RBITS">
        <div class="desc">
          <p>{{box.name}}</p>
          <!-- <p class="quantity">{{box.quantity}}</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="all-boxes-mobile">
    <div class="round-mini-button" (click)="prevBox()">
      <mat-icon fontSet="material-icons" class="color-primary">arrow_back</mat-icon>
    </div>
    <div class="box-container">
      <div class="box-card">
        <img class="rounded-image" src={{boxForMobile.img}} alt="RBITS">
        <div class="desc">
          <p>{{boxForMobile.name}}</p>
          <!-- <p class="quantity">{{boxForMobile.quantity}}</p> -->
        </div>
      </div>
    </div>
    <div class="round-mini-button" (click)="nextBox()">
      <mat-icon fontSet="material-icons" class="color-primary">arrow_forward</mat-icon>
    </div>
  </div>

  <div class="detail-container">
    <div class="description-container">
      <div class="bottom flex pv20 mb30">
        <div class="bottom-only no-padding ">
          <p class="mb30  info-text">
            There are four types of Rabbit Boxes.
            <br>
            <br>To open them you need to hold the following amount of RBITS:
          </p>

          <div class="tier-table">
            <div class="table-columns-titles">
              <p>Tier</p>
              <p class="pr">RBITS </p>
            </div>
            <div class="table-row">
              <div class="tier">
                <p>Wood</p>
                <p>Silver</p>
                <p>Gold</p>
                <p>Diamond</p>
              </div>
              <div class="requirement">
                <p>No requirement</p>
                <p> 50 Billion</p>
                <p> 75 Billlion</p>
                <p>1 Trillion</p>
              </div>
            </div>
          </div>
          <p class="info-text">
            <br>
             
             Diamond Tier holders have One Hour Early access<br>
             before the Collection is opened to the public<br>
           
            <br> 
            Note: When holding a specific tier, you are also eligble to open Rabbit Boxes of lesser tiers<br><br>
           
          </p>
        </div>
      </div>
      <div class="buttons-container">
        <div class="read-more-button">
          <a href="https://rbits.xyz/boxes" target="_blank" class="outlined-button">Discover Rabbit Boxes</a>
        </div>

        <div class="line-for-buttons only-mobile"></div>

      </div>
    </div>
  </div>
</section>
