@import "includes";

.modal-box {
    justify-content: center;
    background: #090d16;
    border-top: 6px solid #5e2466;
    border-radius: 4px;
    max-width: max-content;
    padding: 2rem;
    margin: auto;
}

.info-text {
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: $text-color;
}
