<section class="scroller">
    <div class="pt-5 flex-space-between align-self">
        <div class="flex-col flex1">
            <div class="flex flex-col">
                <div class="flex justify-center">
                    <div class="flex flex-col w100 flex-center">
                        <p class="flex1 flex justify-center p30d24m orbitron bold flex-row flex1 mb30">
                            Games Hub
                        </p>
                        <!-- <div class="flex" style="gap: 20px;">
                            <a href="/">
                                <div class="box flex-center nftbox col pa10">


                                    <a href="/hoppa">Hoppa game</a>


                                </div>
                            </a>
                            <a href="/">
                                <div class="box flex-center nftbox col pa10">


                                    <a href=" /raiders">Rabbit Raiders</a>
                                </div>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="upcoming flex flex-wrap wrap">
                    <div class="box flex-center col pa10">
                        <a class="flex1 game_img flex-center "> 
                           <img src="assets/media/images/comigsoon.gif" alt="" style="width:100%">
                        </a>
                        <div class="flex flex-col flex1 w100 mt10">
                            <div class="text-center word-break">
                                <div class="flex align-left flex-col mb10 mt10">
                                    <p class="p18">Hoppa </p>
                                    
                                </div>
                            </div>
                            
                            <a class="button text-inherit mb20" 
                                href="https://rbits.xyz/hoppa/" target="_blank">Play</a>
                                <a class="outlined-button mb20 text-inherit">Game info</a>
                        </div>
                    </div>
                    <div class="box flex-center col pa10">
                        <a class="flex1 game_img flex-center "> 
                            <img src="assets/media/images/comigsoon.gif" alt="" style="width:100%">
                         </a>
                        <div class="flex flex-col flex1 w100 mt10">
                            <div class="text-center word-break">
                                <div class="flex align-left flex-col mb10 mt10">
                                    <p class="p18">RBIT RAIDERS</p>
                                    
                                </div>
                            </div>
                           <a class="button text-inherit mb20"  target="_blank"
                                href="https://rbits.xyz/raiders/">Play</a><a class="outlined-button mb20 text-inherit">Game info</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>