
@font-face {
  font-family: "Lato-Bold";
  src: url("/assets/fonts/lato/bold.woff2") format("woff2"),
    url("/assets/fonts/lato/bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: url("/assets/fonts/lato/black.woff2") format("woff2"),
    url("/assets/fonts/lato/black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
